@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(to right, #f5f6f4, #d5eed3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forgot-container {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}


.forgot-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

.logo span {
  font-weight: 600;
  font-size: 20px;
  color: #333;
}

/* Headings & Paragraph */
h2 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
  line-height: 1.4;
  text-align: center;
  width: 100%;
}

/* Inputs */
input[type="email"],
input[type="password"],
.otp {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Password input wrapper */
.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.input-wrapper input {
  padding-right: 50px;
  width: 100%;
}

/* otp */
.otp-inputs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
  width: 100%;
}

.otp {
  width: 55px;
  height: 55px;
  font-size: 20px;
  text-align: center;
  transition: border-color 0.3s;
}

.otp:focus {
  border-color: #0066ff;
  outline: none;
}

/* Button */
button {
  width: 100%;
  background-color: #b4dc92;
  color: #fff;
  font-size: 12px;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 8px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  transition: all 0.3s ease-in-out;
  border-color: #2d771e;
}

/* Toggle show/hide */
.toggle-pass {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
  font-size: 13px;
  font-weight: 500;
  user-select: none;
}

a {
  display: inline-block;
  margin-top: 12px;
  font-size: 13px;
  color: #0066ff;
  text-decoration: none;
}

a:hover {
  color: #5885ce;
}

/* Error messages */
.error {
  color: red;
  font-size: 10px;
  margin-top: 2px;
}

/* Invalid input */
input.invalid {
  border: 1px solid red;
}